.vs
*.user
/Project/RayTracing/InOneWeekend/Debug
/Project/RayTracing/InOneWeekend/Release
/Project/RayTracing/InOneWeekend/01OutputAnImage/Release
/Project/RayTracing/InOneWeekend/01OutputAnImage/Debug
/Project/RayTracing/InOneWeekend/02TheVec3Class/Release
/Project/RayTracing/InOneWeekend/02TheVec3Class/Debug
/Project/RayTracing/InOneWeekend/03Rays/Release
/Project/RayTracing/InOneWeekend/03Rays/Debug
/Project/RayTracing/InOneWeekend/04Sphere/Release
/Project/RayTracing/InOneWeekend/04Sphere/Debug
/Project/RayTracing/InOneWeekend/05MultipleObjects/Release
/Project/RayTracing/InOneWeekend/05MultipleObjects/Debug
/Project/RayTracing/InOneWeekend/06Antialiasing/Release
/Project/RayTracing/InOneWeekend/06Antialiasing/Debug
/Project/RayTracing/InOneWeekend/07DiffuseMaterials/Release
/Project/RayTracing/InOneWeekend/07DiffuseMaterials/Debug
/Project/RayTracing/InOneWeekend/08Metal/Release
/Project/RayTracing/InOneWeekend/08Metal/Debug
/Project/RayTracing/InOneWeekend/09Dielectrics/Release
/Project/RayTracing/InOneWeekend/09Dielectrics/Debug
/Project/RayTracing/InOneWeekend/10PositionableCamera/Release
/Project/RayTracing/InOneWeekend/10PositionableCamera/Debug
/Project/RayTracing/InOneWeekend/11DefocusBlur/Release
/Project/RayTracing/InOneWeekend/11DefocusBlur/Debug
/Project/RayTracing/InOneWeekend/12RandomScene/Release
/Project/RayTracing/InOneWeekend/12RandomScene/Debug
/Project/LearnOpenGL/glfw-3.3/build/x64
/Project/LearnOpenGL/Project/x64
/Project/LearnOpenGL/Project/Project/x64
/Project/LearnOpenGL/Project/1.1.1.hello_window/x64
/Project/LearnOpenGL/Project/1.2.5.hello_triangle_exercise3/x64
/Project/LearnOpenGL/Project/1.2.4.hello_triangle_exercise2/x64
/Project/LearnOpenGL/Project/1.2.3.hello_triangle_exercise1/x64
/Project/LearnOpenGL/Project/1.2.2.hello_triangle_indexed/x64
/Project/LearnOpenGL/Project/1.2.1.hello_triangle/x64
/Project/LearnOpenGL/Project/1.1.2.hello_window_clear/x64
/Project/LearnOpenGL/Project/1.3.1.shaders_uniform/x64
/Project/LearnOpenGL/Project/1.3.2.shaders_interpolation/x64
/Project/LearnOpenGL/Project/1.3.3.shaders_class/x64
/Project/LearnOpenGL/Project/1.3.4.shaders_exercise1/x64
/Project/LearnOpenGL/Project/1.3.5.shaders_exercise2/x64
/Project/LearnOpenGL/Project/1.3.6.shaders_exercise3/x64
/Project/LearnOpenGL/Project/1.4.1.textures/x64
/Project/LearnOpenGL/Project/1.4.2.textures_combined/x64
/Project/LearnOpenGL/Project/1.4.3.textures_exercise1/x64
/Project/LearnOpenGL/Project/1.4.4.textures_exercise2/x64
/Project/LearnOpenGL/Project/1.4.5.textures_exercise3/x64
/Project/LearnOpenGL/Project/1.4.6.textures_exercise4/x64
/Project/LearnOpenGL/Project/1.5.1.transformations/x64
/Project/LearnOpenGL/Project/1.5.2.transformations_exercise1/x64
/Project/LearnOpenGL/Project/1.5.3.transformations_exercise2/x64
/Project/LearnOpenGL/Project/1.6.1.coordinate_systems/x64
/Project/LearnOpenGL/Project/1.6.2.coordinate_systems_depth/x64
/Project/LearnOpenGL/Project/1.6.3.coordinate_systems_multiple/x64
/Project/LearnOpenGL/Project/1.6.4.coordinate_systems_exercise3/x64
/Project/LearnOpenGL/Project/1.7.1.camera_circle/x64
/Project/LearnOpenGL/Project/1.7.2.camera_keyboard_dt/x64
/Project/LearnOpenGL/Project/1.7.3.camera_mouse_zoom/x64
/Project/LearnOpenGL/Project/1.7.4.camera_class/x64
/Project/LearnOpenGL/Project/2.1.colors/x64
/Project/LearnOpenGL/Project/2.2.1.basic_lighting_diffuse/x64
/Project/LearnOpenGL/Project/2.2.2.basic_lighting_specular/x64
/Project/LearnOpenGL/Project/2.2.3.basic_lighting_exercise1/x64
/Project/LearnOpenGL/Project/2.2.4.basic_lighting_exercise2/x64
/Project/LearnOpenGL/Project/2.2.5.basic_lighting_exercise3/x64
/Project/LearnOpenGL/Project/2.3.1.materials/x64
/Project/LearnOpenGL/Project/2.3.2.materials_exercise1/x64
/Project/LearnOpenGL/Project/2.4.1.lighting_maps_diffuse_map/x64
/Project/LearnOpenGL/Project/2.4.2.lighting_maps_specular_map/x64
/Project/LearnOpenGL/Project/2.4.3.lighting_maps_exercise2/x64
/Project/LearnOpenGL/Project/2.4.4.lighting_maps_exercise4/x64
/Project/LearnOpenGL/Project/2.5.1.light_casters_directional/x64
/Project/LearnOpenGL/Project/2.5.2.light_casters_point/x64
/Project/LearnOpenGL/Project/2.5.3.light_casters_spot/x64
/Project/LearnOpenGL/Project/2.5.4.light_casters_spot_soft/x64
/Project/LearnOpenGL/Project/2.6.multiple_lights/x64
/Project/LearnOpenGL/Project/2.6.multiple_lights_exercise1/x64
/Project/LearnOpenGL/Project/3.1.model_loading/x64
/Project/LearnOpenGL/Project/4.1.1.depth_testing/x64
/Project/LearnOpenGL/Project/4.1.2.depth_testing_view/x64
/Project/LearnOpenGL/Project/4.2.stencil_testing/x64
/Project/LearnOpenGL/Project/4.3.1.blending_discard/x64
/Project/LearnOpenGL/Project/4.3.2.blending_sort/x64
/Project/LearnOpenGL/Project/4.4.face_culling_exercise1/x64
/Project/LearnOpenGL/Project/4.5.1.framebuffers/x64
/Project/LearnOpenGL/Project/4.5.2.framebuffers_exercise1/x64
/Project/LearnOpenGL/Project/4.6.1.cubemaps_skybox/x64
/Project/LearnOpenGL/Project/4.6.2.cubemaps_environment_mapping/x64
/Project/LearnOpenGL/Project/4.8.advanced_glsl_ubo/x64
/Project/LearnOpenGL/Project/4.9.1.geometry_shader_houses/x64
/Project/LearnOpenGL/Project/4.9.2.geometry_shader_exploding/x64
/Project/LearnOpenGL/Project/4.9.3.geometry_shader_normals/x64
/Project/LearnOpenGL/Project/4.10.1.instancing_quads/x64
/Project/LearnOpenGL/Project/4.10.2.asteroids/x64
/Project/LearnOpenGL/Project/4.10.3.asteroids_instanced/x64
/Project/LearnOpenGL/Project/4.11.1.anti_aliasing_msaa/x64
/Project/LearnOpenGL/Project/4.11.2.anti_aliasing_offscreen/x64
