.vs
*.user
/Project/RayTracing/InOneWeekend/Debug
/Project/RayTracing/InOneWeekend/Release
/Project/RayTracing/InOneWeekend/01OutputAnImage/Release
/Project/RayTracing/InOneWeekend/01OutputAnImage/Debug
/Project/RayTracing/InOneWeekend/02TheVec3Class/Release
/Project/RayTracing/InOneWeekend/02TheVec3Class/Debug
/Project/RayTracing/InOneWeekend/03Rays/Release
/Project/RayTracing/InOneWeekend/03Rays/Debug
/Project/RayTracing/InOneWeekend/04Sphere/Release
/Project/RayTracing/InOneWeekend/04Sphere/Debug
/Project/RayTracing/InOneWeekend/05MultipleObjects/Release
/Project/RayTracing/InOneWeekend/05MultipleObjects/Debug
/Project/RayTracing/InOneWeekend/06Antialiasing/Release
/Project/RayTracing/InOneWeekend/06Antialiasing/Debug
/Project/RayTracing/InOneWeekend/07DiffuseMaterials/Release
/Project/RayTracing/InOneWeekend/07DiffuseMaterials/Debug
/Project/RayTracing/InOneWeekend/08Metal/Release
/Project/RayTracing/InOneWeekend/08Metal/Debug
/Project/RayTracing/InOneWeekend/09Dielectrics/Release
/Project/RayTracing/InOneWeekend/09Dielectrics/Debug
/Project/RayTracing/InOneWeekend/10PositionableCamera/Release
/Project/RayTracing/InOneWeekend/10PositionableCamera/Debug
/Project/RayTracing/InOneWeekend/11DefocusBlur/Release
/Project/RayTracing/InOneWeekend/11DefocusBlur/Debug
/Project/RayTracing/InOneWeekend/12RandomScene/Release
/Project/RayTracing/InOneWeekend/12RandomScene/Debug